.donation-section-container {
  min-height: 70vh;
  display: flex;
  align-items: center;
}
.donation-section {
  background-color: var(--background-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem;
}
.donation-section-title {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 24px;
}
.donation-account-info {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 30px;
}
.donation-buttons-container {
  display: flex;
  align-items: center;
  gap: 12px;
}
.donation-button {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--primary-color);
  padding: 13px 18px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 9999px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.donation-button:hover {
  background-color: var(--primary-color);
  color: #fff;
}

@media (min-width: 768px) {
  .donation-section-container {
    min-height: 80vh;
  }
  .donation-section {
    padding: 56px 3rem;
  }
  .donation-section-title {
    font-size: 40px;
    margin-bottom: 32px;
  }
  .donation-account-info {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .donation-button {
    font-size: 18px;
    padding: 19px 24px;
  }
}
@media (min-width: 1200px) {
  .donation-section {
    padding: 80px 3.75rem;
  }
  .donation-account-info {
    margin-bottom: 52px;
  }
}
