.speakers-container {
  min-height: 100vh;
  padding: 4rem 2rem;
  overflow-x: hidden;
}

.speakers-container > * {
  max-width: 1280px;
  margin: 0 auto;
}

.speakers-container > *:not(:last-child) {
  margin-bottom: 80px;
}

.chairman-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.chairman-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 48px;
}

.chairman-write-up {
  font-size: 16px;
  font-weight: 400;
  color: var(--interactive-tertiary);
  line-height: 2;
}
.signature-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}
.signature-container p {
  font-weight: 700;
  font-size: 16px;
}

.chairman-pic-container {
  position: relative;
  width: 100%;
}

.chairman-pic {
  max-height: 200px;
  width: auto;
  margin-left: auto;
  object-fit: cover;
}

.background-arc {
  position: absolute;
  z-index: -1;
  background-color: var(--denim);
  bottom: 0;
  border-top-left-radius: 180px;
  border-bottom-left-radius: 180px;
  height: 77.7%;

  right: -100vw;
  left: 0rem;
}

.other-speakers {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 768px) {
  .speakers-container {
    padding: 4rem 3rem;
  }

  .chairman-title {
    font-size: 48px;
    margin-bottom: 60px;
  }
  .chairman-write-up {
    font-size: 20px;
  }
  .signature-container p {
    font-size: 20px;
  }

  .speakers-container > *:not(:last-child) {
    margin-bottom: 120px;
  }
  .chairman-pic {
    max-height: 300px;
  }
  .other-speakers {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .chairman-section {
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
  }

  .chairman-section > div:first-child {
    max-width: 58%;
  }

  .chairman-pic-container {
    flex-grow: 1;
    width: unset;
    max-width: 34%;
  }
  .chairman-pic {
    max-width: 74%;
  }
}

@media (min-width: 1200px) {
  .speakers-container {
    padding: 4rem 3.75rem;
  }
  .signature-container p {
    font-size: 24px;
  }

  .chairman-title {
    font-size: 60px;
  }

  .chairman-pic {
    max-height: 400px;
  }
}

@media (min-width: 1536px) {
  :root {
    --x: calc(min(120px, (100vw - 1280px) * 0.1));
  }

  .chairman-section > div:first-child {
    max-width: calc(58% + var(--x));
  }

  .chairman-pic-container {
    transform: translateX(var(--x));
  }
}
