.hero-container {
  padding: 0 2rem 2rem;
}

.hero {
  min-height: calc(100vh - 100px - 2rem);
  position: relative;
  display: flex;
  align-items: center;
  padding: 16px;
  overflow: hidden;
  border-radius: 48px;
  border-bottom-right-radius: 0;
  justify-content: center;
}

.hero-img-container {
  width: 100%;
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: var(--background-secondary);
  overflow: hidden;
  border-radius: 48px;
}

.hero-img-container img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay::before,
.hero-overlay::after {
  display: none;
  content: "";
  position: absolute;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 24px 24px 0 #fff;
  z-index: 3;
}
.hero-overlay::before {
  bottom: 0;
  right: 278px;
}
.hero-overlay::after {
  bottom: 77px;
  right: 0;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 48px;
  z-index: 1;
}

.hero-text {
  position: relative;
  color: #fff;
  font-weight: 700;
  text-align: center;
  z-index: 2;
  transform: translateY(-10%);
  animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit -200px;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

.hero-text > *:not(:last-child) {
  margin-bottom: 1rem;
}

.hero-text p:first-child {
  font-size: 1.5rem;
}

.hero-text h1 {
  font-size: 2rem;
  margin-bottom: 1rem !important;
}

.hero-text p:nth-of-type(2) {
  font-size: 1.25rem;
  font-weight: 400;
}

/* Slider */

.hero-slider {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
  align-items: center;
  display: none;
  /* display: flex; */
  border-top-left-radius: 36px;
  z-index: 3;
}

.slider-number {
  color: var(--interactive-tertiary);
}

.slider-indicator {
  display: flex;
  align-items: center;
  gap: 12px;
}

.slider-line {
  flex-grow: 1;
  height: 2px;
  background-color: var(--gray);
  position: relative;
  width: 75px;
}

.slider-fill {
  position: absolute;
  height: 100%;
  background-color: var(--interactive-tertiary);
  transition: all 0.4s ease;
}

.slider-controls {
  display: flex;
  gap: 12px;
  align-items: center;
}

.control-btn {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.control-btn:hover {
  background-color: #333;
}

/* Tablet styles */
@media (min-width: 768px) {
  .hero-container {
    padding: 0 3rem 2rem;
  }
  .hero {
    min-height: calc(100vh - 136px - 2rem);
  }

  .hero-text p:first-child {
    font-size: 2rem;
  }

  .hero-text h1 {
    font-size: 3rem;
  }

  .hero-text p:nth-of-type(2) {
    font-size: 1.5rem;
  }
  .hero-slider {
    display: flex;
    padding: 24px 0 18px 36px;
    gap: 42px;
  }
  .hero-overlay::after,
  .hero-overlay::before {
    display: block;
  }
}

/* Desktop Styles */
@media (min-width: 1200px) {
  .hero-container {
    padding: 0 3.75rem 2rem;
  }

  .hero-text h1 {
    font-size: 4rem;
  }

  .hero-text > *:not(:last-child) {
    margin-bottom: 2rem;
  }
  .control-btn {
    width: 48px;
    height: 48px;
  }
  .hero-slider {
    padding: 32px 0 24px 48px;
    gap: 56px;
    border-top-left-radius: 48px;
  }
  .slider-line {
    width: 100px;
  }

  .hero-overlay::before {
    right: 353px;
  }
  .hero-overlay::after {
    bottom: 104px;
  }
}

@media (min-width: 1536px) {
  .hero-text h1 {
    font-size: 4.5rem;
    white-space: nowrap;
  }
}
