.single-supporter {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  justify-content: space-between;
  gap: 35px;
}

.supporter-logo {
  height: 105px;
  width: auto;
  object-fit: contain;
}

.supporter-title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 8px;
  text-align: center;
}
.supporter-details {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .single-supporter {
    gap: 50px;
  }

  .supporter-title {
    font-size: 20px;
  }
  .supporter-details {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .single-supporter {
    gap: 70px;
  }
  .supporter-title {
    font-size: 24px;
  }
}
