.below-hero-container {
  min-height: 60vh;
  padding: 0 2rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.below-hero {
  max-width: 75%;
  margin: 0 auto;
}

.below-hero > *:not(:last-child) {
  margin-bottom: 28px;
}

.below-hero .larger-text {
  font-weight: 700;
  font-size: 28px;
}
.below-hero .smaller-text {
  font-weight: 400;
  font-size: 16px;
}

.culture-image-text-container {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
}
.culture-image {
  max-width: 80px;
}

@media (min-width: 768px) {
  .below-hero-container {
    min-height: 70vh;
    padding: 0 3rem;
  }

  .below-hero {
    max-width: max(70%, 950px);
  }

  .below-hero .larger-text {
    font-size: 48px;
  }
  .below-hero .smaller-text {
    font-size: 20px;
  }
  .culture-image-text-container {
    gap: 24px;
  }
  .culture-image {
    max-width: 180px;
  }
}

@media (min-width: 1200px) {
  .below-hero-container {
    min-height: 75vh;
    padding: 0 3.75rem;
  }

  .below-hero .larger-text {
    font-size: 64px;
  }
  .culture-image-text-container {
    gap: 32px;
  }
  .culture-image {
    max-width: 100%;
  }
}

@media (min-width: 1536px) {
  .below-hero .larger-text {
    font-size: 72px;
  }
}
