.single-speaker {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}

.single-speaker-image-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #bbbbbb;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 16px;
}
.single-speaker-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.single-speaker-name {
  font-size: 16px;
  font-weight: 700;
  color: var(--primary-color);
}

@media (min-width: 768px) {
  .single-speaker-name {
    font-size: 20px;
  }

  .single-speaker-image-container {
    margin-bottom: 20px;
    width: 270px;
    height: 270px;
  }
}
@media (min-width: 1200px) {
  .single-speaker-name {
    font-size: 24px;
  }
}
