.app-section-container {
  min-height: 100vh;
  padding: 4rem 2rem;
}

.app-section {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.app-section-left > *:not(:last-child) {
  margin-bottom: 36px;
}

.app-icon {
  margin-bottom: 24px;
}
.app-icon-svg {
  width: 72px;
  height: 73px;
}
.app-title {
  font-size: 28px;
  font-weight: 700;
}
.app-description {
  font-weight: 400;
  font-size: 16px;
}
.app-date {
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
}
.app-date span {
  color: var(--interactive-primary);
}

@media (min-width: 768px) {
  .app-section-container {
    padding: 4rem 3rem;
  }
  .app-section-left {
    max-width: 650px;
  }
  .app-section-left > *:not(:last-child) {
    margin-bottom: 56px;
  }
  .app-section {
    flex-direction: row;
    align-items: center;
  }
  .app-icon {
    margin-bottom: 32px;
  }
  .app-title {
    font-size: 48px;
  }
  .app-description {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .app-section-container {
    padding: 4rem 3.75rem;
  }
  .app-section-left > *:not(:last-child) {
    margin-bottom: 72px;
  }
  .app-icon {
    margin-bottom: 40px;
  }
  .app-icon-svg {
    width: 96px;
    height: 97px;
  }
  .app-title {
    font-size: 60px;
  }
}
